@media(max-width:1800px) {
    :root {
        font-size: 18px;
    }

    .type-infocard {
        min-width: 70px
    }


}

@media(max-width:1600px) {
    :root {
        font-size: 16px;
    }

    .type-infocard {
        min-width: 70px;
        padding: 4px 10px 5px 10px;
    }


}

@media(max-width:1400px) {

    .type-infocard {
        min-width: 60px;
        padding: 4px 5px 5px 5px;
    }

    .elements-infocard {
        gap: 5px;
    }


}

@media(max-width:1200px) {

    #information-container {
        width: 80%;
        height: 80%;

    }

    #left-arrow {

        left: 0%;
    }

    #right-arrow {
        right: 0%;
    }


}

@media(max-width:1024px) {

    #goUp{
        width: 8%;
    }

    #information-container {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: unset;
    }

    .pokemon-info {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }


    .left-side {
        width: 80%;
        gap: 0;
    }

    .basic-information {
        margin-top: 50px;
    }

    .image-frame-info {
        width: 50%;
        height: 60%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .pokemon-img-style-info {
        width: 65%;
    }

    .right-side {
        height: 60%;
        width: 110%;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        background-color: rgba(172, 171, 171, 0.1)
    }

    .reiter-container {
        width: 250%;
        height: 15%;
        gap: 130px;
        align-items: center;
        justify-content: center;
        border-top: solid 2px rgba(0, 0, 0, 0.101);
        box-shadow: 0px -12px 16px -7px rgba(0, 0, 0, 0.089);
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .content {

        width: 50%;
        height: 80%;
        background: unset;
    }

    .content-box {
        width: 100%;
        height: 90%;
    }

    #myChart {
        height: 100%;

    }

    .details {
        font-size: 1.2rem;
        width: 80%;
    }

    .description {
        width: 80%;

    }

    .arrow {
        width: 70px;
        bottom: 65%;
        top: 35%;
    }

    #left-arrow {
        left: 6%;
    }

    #right-arrow {
        right: 6%;
    }

    .arrow:hover {
        width: 70px;
        opacity: 1;
    }

}

@media(max-width:768px) {
    

    .left-side {

        gap: 50px;
    }

    .image-frame-info {
        width: 50%;
        height: 50%;

    }

    .pokemon-img-style-info {
        width: 90%;
    }

    .right-side {
        gap: 20px;
    }

    .content {
        width: 90%;
    }
}

@media(max-width:700px) {
    #pokedex {
        margin: 0;
        border: none;
        border-radius: 0;
    }
}

@media(max-width:600px) {
    #search-input {
        width: 300px;
    }

    #goUp{
        width: 13%;
    }
}

@media(max-width:480px) {
    :root{
        font-size: 14px;
    }

    .info-container{
        font-size: 1.2rem;
    }

    #headline p {
        text-align: center;
    }

    #search-input {
        width: 250px;
    }

    .right-side {
        gap: 70px;
    }

    .basic-information{
        width: 100%;
    }

    #left-arrow {
        left: -3%;
    }

    #right-arrow {
        right: -3%;
    }

    .basic-information {
        margin-top: 50px;
    }


    .pokemon-img-style-info {
        width: 80%;
    }

    .image-frame-info {
        height: 40%;
        width: 60%;
    }

    .right-side {
        gap: 30px;
    }

    .reiter-container {

        gap: 70px;
    }

}

@media(max-width:350px) {
    :root{
        font-size:12px ;
    }
    #goUp{
        width: 18%;
    }

    .type-infocard {
        min-width: 50px;
        padding: 2px 2px 2px 2px;
    }
    
    
}