

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

:root {
    font-family: "OpenSans", sans-serif;
    font-size: 20px;
    --Hauptfarbe: rgb(58, 112, 160);
    --background-grey: rgba(8, 8, 8, 0.096);

}


body,p {
    margin: 0;
    box-sizing: border-box;
}

/* Head-section */
header {
    height: 80px;
    width: 100%;
    background-color: var(--Hauptfarbe);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#pokeball-img {
    object-fit: contain;
    width: 70px;
    margin-left: 24px;
}

#pokemon-logo {
    object-fit: contain;
    width: 200px;
    margin-right: 24px;

}

#headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;

    color: var(--Hauptfarbe);
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

#search {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

#search-input {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 480px;
    height: 40px;
    border: 2px solid var(--Hauptfarbe);
    border-radius: 10px;
    background-color: rgba(58, 112, 160, 0.664);
    
}

#headline svg {
    background-color: var(--Hauptfarbe);
    border-radius: 10px;
    padding: 6px;
    border: 1px solid black;
    cursor: pointer;
}

#headline svg:hover {
    background-color: rgba(58, 112, 160, 0.85);
}

#search-input::placeholder {
    color: rgba(255, 255, 255, 0.63);
    text-align: center
}


#search-input:focus {
    outline: unset;
}

#pokedex-logo {
    object-fit: cover;
    width: 9%;
}
/* Main section */

#pokedex {
    margin: 16px;
    border: 2px solid var(--Hauptfarbe);
    border-radius: 15px;
    min-height: 50vh;
    background-color: var(--background-grey);
    color: var(--Hauptfarbe);
    display: flex;
    padding: 24px;
}

#pokemon-card{
    width: 300px;
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FC6C6D;
}
.image-frame{
    margin-top: 35px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
}
#pokemon-img{
    width: 200px;
    height: 300px;
    object-fit: contain;
   
}

.info-container {

    background-color: whitesmoke;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-height: 120px;
    margin-top: 17px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}
.info-box
{
    display: flex;
    flex-direction: column;
    gap: 20px;


}

